.search-activity-container {
  .activity-photo-container {
    position: relative;
    width: 100%;
    height: 415px;
  }

  form .form-control#search-bar {
    height: 40px;
    background: rgba(255, 255, 255, 1);
    border-radius: 20px;
    border-color: black;
    font-family: Comfortaa;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin-top: 10px;
  }

  .filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.custom-date-active {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  #date-filter {
    border-radius: 15px;
    font-family: Comfortaa;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    border-color: black;
  }

  #custom-date-picker {
    display: none;
    border-color: black;
  }

  #custom-date {
    border: 1px solid #ff5733;
    border-radius: 15px;
    font-family: Comfortaa, sans-serif;
    font-size: 12px;
    padding: 10px;
  }

  .form-select-activity {
    height: 100%;
    border-radius: 15px;
    font-family: Comfortaa;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    border-color: black;
    padding: 5px;
    background-color: rgb(243, 246, 251);
    margin-top: 5px;
  }

  .form-select-activity option {
    font-size: 14px;
    font-weight: 400;
    padding: 5px;
    border-color: black;
  }

  .form-control[name="location"] {
    border-radius: 15px;
    font-family: Comfortaa;
    font-size: 13px;
    font-weight: 400;
    text-align: left;
    background: rgba(255, 255, 255, 1);
    color: black;
    border-color: black;
  }


  .sort_activity[name="sort_by"] {
    height: 100%;
    width: 95%;
    border-radius: 15px;
    font-family: Comfortaa;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    border-color: black;
    padding: 5px;
    background-color:lightgray;
    margin-left: 5px;
  }

  .card-title {
    font-size: 1.5em;
    color: #333;
  }

  .card-body ul {
    padding-left: 0;
    list-style-type: none;
  }

  .card-body li {
    margin-bottom: 5px;
  }

  .btn {
    background-color: #333;
    color: #fff;

    &:hover {
      background-color: #555;
    }
  }

  .footer {
    padding: 20px;
    background-color: #f8f9fa;
  }
}
