<div class="container my-5 px-4 pb-4">
  <div class="row">
    <div class="col">
      <h1>Booking requests</h1>
      <% if current_user.activities.empty? %>
        <p>You have not made any activities.</p>
      <% elsif @booking_requests.empty? %>
        You have no booking requests.
      <% else %>
        <% @booking_requests.each do |booking_request| %>
          <div class="card mb-3">
            <div class="card-body">
              <% if booking_request.status == :Pending %>
                <%= link_to "Accept", accept_booking_path(booking_request),  data: { turbo_method: :patch, turbo_confirm: "Are you sure you want to accept this booking?" } %>
              <% elsif booking_request.status == "Accepted" %>
                <%= booking_request.user.first_name %> has requested to join your activity <strong><%= booking_request.activity.title %>. you have <%=booking_request.status %></strong>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
