<div class="container my-5 px-4 pb-4">
  <div class="row">
    <div class="col">
      <h1>All groups</h1>
      <% @groups.each do |group| %>
        <div class="card mb-3">
          <div class="card-body">
            <h2 class="card-title"><%= link_to group.name, group_path(group) %></h2>
              <%= group.description %>

              <div class="d-flex justify-content-end">
                <% if policy(group).owner? || GroupUser.find_by(group: group, user: current_user) %>
                  <em>You are already a member</em>
                <% else %>
                  <%= button_to "Join us", join_group_path(group), method: :post, class: "btn btn-success" %>
                <% end %>
              </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
