<div class="iphone-status-bar">
  <div class="status-left">
    <span class="time">12:45</span>
  </div>
  <div class="status-right">
    <i class="fas fa-wifi"></i>
    <i class="fas fa-signal"></i>
    <i class="fas fa-battery-full"></i>
  </div>
</div>
