<div class="container">

  <section class="mt-4" style="text-align: left; padding-left: 10px; padding-top: 30px;">
  <h1>Discover</h1>
</section>

  <section class="featured-activities py-2">
    <h2 class="mt-4 mb-5 text-center text-gray fs-3 rounded-2">
      Upcoming events near me
    </h2>

    <div class="container">
      <div class="row justify-content-center g-4">
        <% @activities.each do |activity| %>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">

            <div class="card shadow-sm border-0 activity-card" style="border-radius: 15px;">

              <% if activity.photo.attached? %>
                <%= image_tag activity.photo, class:"img-fluid", alt:"activity image", style:"border-radius: 15px 15px 0 0; height: 150px; object-fit: cover;" %>
              <% else %>
                <p>No photo available</p>
              <% end %>

              <div class="card-body d-flex flex-column">
                <h5 class="card-title text-dark"><%= activity.title %></h5>
                <div class="mt-auto">
                  <%= link_to "More info", activity_path(activity), class: "btn btn-primary w-100", style: "background-color: #FBC108; border: none; border-radius: 8px;" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
</div>
