.card {
  border-radius: 8px;
  border: none;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  overflow: hidden;
  .subtitle {
    color: gray;
    font-size: 12px;
  }
}

.card-title {
  a {
    text-decoration: none;
    color: black;
  }
}

.card-link {
  text-decoration: none;
}

.activity-card-image {
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.activity-card-homepage {
  h4 {
    font-size: 0.9rem
  }
  .card-text {
    font-size: 0.6rem;
    color: grey;
  }
}
