.footer i {
  font-size: 1.5rem;
  color: #333;

}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #ddd;
  padding: 0.5rem 0;
  z-index: 1000;
}

.footer {
  padding: 0;
}

.footer p {
  margin-bottom: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.footer p > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  text-align: center;
}

.footer a {
  text-decoration: none;
  color: inherit;
}
