<div class="container my-5 px-4 pb-4">
  <div class="row justify-content-center">
    <div class="col">
      <%# <div class="activity-form shadow-sm rounded"> %>
        <h2 class="text-center mb-5">Edit Activity</h2>
        <%= render "form", activity: @activity %>

        <div class="text-center mt-4">
          <%= link_to "Back to Activities", activities_path, class: "btn btn-secondary" %>
        </div>
      <%# </div> %>
    </div>
  </div>
</div>
